# CSV files
csv/Login Credentials-Login Credentials.csv
csv/Taiwan-Internship Applications Log.csv
csv/US-Internship Applications Log.csv

# Resumes
Chen-An Wang UCSD Data Science Resume US.pdf
Chen-An Wang UCSD Data Science Resume 履歷.pdf
王宸安_加州大學聖地牙哥分校_實習_履歷.pdf
